.moto-img {
	max-width: 200px;
}

.pointer {
	cursor: pointer;
}

.tac {
	text-align: center;
}

.phone-block {
	height: 36px;
}

.modal {
	display: block;
}

.btn-outline-success {
	width: 115px;
}

/* Animation */
.phone-enter-active, .phone-leave-active {
	transition: all .5s;
}

.phone-enter, .phone-leave-to {
	transform: translateX(50px);
	opacity: 0;
}

.modal-enter-active, .modal-leave-active {
	transition: all .5s;
}

.modal-enter, .modal-leave-to {
	transform: translateY(-150px);
	opacity: 0;
}

.fade-enter-active {
	animation: .75s fade forwards;
}

.fade-leave-active {
	animation: .75s fade reverse;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.img-enter-active, .img-leave-active {
	transition: all .5s;
}

.img-enter {
	transform: translateX(50px);
	opacity: 0;
}

.img-leave-to {
	transform: translateX(-50px);
	opacity: 0;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: .5;
	}
}
