h1 {
	font-size: 3rem;
	font-weight: bold;
}

.moto-img {
	max-width: 100%;
}

.pointer {
	cursor: pointer;
}

.tac {
	text-align: center;
}

.description-block {
	position: absolute;
  top: 100px;
  right: 10px;
  left: 10px;
  text-align: justify;
  z-index: 3;
  display: block;

}

.bg-white {
	background: #fff;
}

.modal {
	display: block;
}

.btn-outline-success {
	width: 115px;
}
.price {
	font-size: 2rem;
}

/* Animation */
.description-enter-active, .description-leave-active {
	transition: all .5s;
}

.description-enter, .description-leave-to {
	transform: translateX(-150px);
	opacity: 0;
}

.modal-enter-active, .modal-leave-active {
	transition: all .5s;
}

.modal-enter, .modal-leave-to {
	transform: translateY(-100px);
	opacity: 0;
}

.fade-enter-active {
	animation: .75s fade forwards;
}

.fade-leave-active {
	animation: .75s fade reverse;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.img-enter-active, .img-leave-active {
	transition: all .5s;
}

.img-enter {
	transform: translateX(50px);
	opacity: 0;
}

.img-leave-to {
	transform: translateX(-50px);
	opacity: 0;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: .5;
	}
}
