<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Vue-lesson</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
</head>
<body>
	<div class="container" id="app">
		<div class="row mb-3">
			<div class="col  pt-3">
				<h1>RACER</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="search">Найдите Вашу модель Racer</label>
					<input
						 type="text"
						 class="form-control"
						 id="search"
						 placeholder="Название, модель, объем ..."
						 v-model="search"
					>
				</div>
				<hr>
				<ul class="list-group">
					<li
							v-for="(moto, index) in filteredMotos"
						 	class="list-group-item list-group-item-action pointer"
						 	@click="selectMoto(index)"
						 	:class="{'active': selectedMotoIndex === index}"
					>
							{{ moto.name }} {{ moto.model }} {{ moto.engine }} 
					</li>
				</ul>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-7 tac">
						<h2>{{ moto.type }} <br> {{ moto.name }} {{ moto.model }} {{ moto.engine }}</h2>
						<transition name="description">
						<div
							v-if="!descVisibility"
						>
							<img
							 	:src="moto.image"
							 	:alt="moto.model"
							 	class="rounded moto-img"
							>
						</div>
						</transition>
						<transition name="description">
							<div class="description-block mt-3">
							<transition name="description">
								<p class="bg-white" v-if="descVisibility">{{moto.description}}</p>
								</transition>
							</div>
						</transition>
					</div>
					<div class="col-md-5 pt-2">
						<h5>Краткое описание:</h5>
						<ul>
							<li>Название - <strong>{{ moto.name }}</strong></li>
							<li>Модель - <strong>{{ moto.model }}</strong></li>
							<li>Тип - <strong>{{moto.type}}</strong></li>
							<li>Объем двигателя - <strong>{{moto.engine}}</strong></li>
							<li>Цвет - <strong>{{moto.color}}</strong></li>
						</ul>
						<div class="price mb-3">Цена - <strong>{{ moto.price }} </strong> бел. р.</div>

						<button
							 class="btn btn-outline-success mr-3 "
							 @click="descVisibility = !descVisibility"
						>{{ descBtnText }}</button>	
						<button class="btn btn-primary" @click="modalVisibility = true">Купить</button>	
					</div>
				</div>
			</div>
		</div>

		<div class="row pt-3" v-if="logs.length !== 0">
			<div class="col-md-12">
				<ul class="list-group">
					  <li
					  	v-for="log in logs"	
					  	class="list-group-item"
					  	:class="{
					  			'list-group-item-success' : log.type === 'success',
					  			'list-group-item-secondary' : log.type === 'cancel'
					  		}"
					  >
					Заявка на <b>{{log.text}}</b> прошла успешно. Дата и время заказа: <b>{{log.date | date}}</b>. Менеджер свяжется с вами в ближайшее время.
					</li>
				</ul>
			</div>
		</div>
		<transition name="modal">
			<div class="modal fade show" v-if="modalVisibility" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Хотите купить этот мотоцикл?</h5>
		        <button
		        	 type="button"
		        	 class="close"
		        	 data-dismiss="modal"
		        	 aria-label="Close"
		        	 @click="modalVisibility = false"
		        >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
						<div class="order-form">
							<form>
							  <div class="form-group">
							  	<h3>{{moto.name}} {{moto.model}}</h3>
							    <label for="exampleFormControlInput1">Ваше имя</label>
							    <input type="email" class="form-control mb-2" id="exampleFormControlInput1" placeholder="Введите Ваше имя...">
							    <label for="exampleFormControlInput2">Email*</label>
							    <input type="email" class="form-control mb-2" id="exampleFormControlInput2" placeholder="name@example.com">
							    <label for="exampleFormControlInput3">Ваш телефон</label>
							    <input type="email" class="form-control mb-2" id="exampleFormControlInput3" placeholder="+37529000000">
							  </div>
							  <div class="form-group">
							    <label for="exampleFormControlTextarea1">Оставьте Ваше сообщение...</label>
							    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
							  </div>
							</form>
						</div>	
		      </div>

		      <div class="modal-footer">
		      	<button
		        	 type="button"
		        	 class="btn btn-primary"
		        	 @click="newOrder"
		        >
		        Заказать
		        </button>
		        <button
		        	 type="button"
		        	 class="btn btn-secondary"
		        	 data-dismiss="modal"
		        	 @click="cancelOrder"
		        >
		        Позже..
		        </button>
		      </div>
		    </div>
		  </div></div>
		</transition>
		<transition name="fade">
			<div class="modal-backdrop show fade" v-if="modalVisibility"></div>
		</transition>
	</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="js/base.js"></script>
<script src="js/app.js"></script>
</body>
</html>